@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "regular", system-ui, sans-serif;
  }
}

.card-stack {
  perspective: 1000px;
}
.card {
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.image-left {
  margin-left: -70px; /* Adjust this value as needed */
}
.slider-container {
  scroll-snap-type: x mandatory;
}
.slider-card {
  scroll-snap-align: start;
}

.card-stack {
  perspective: 1000px;
}
.card {
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.image-left {
  margin-left: -70px; /* Adjust this value as needed */
}
.slider-container {
  scroll-snap-type: x mandatory;
}
.slider-card {
  scroll-snap-align: start;
}

.bg-selected {
  background-color: #009846 !important;
  color: white !important;
}
/* New CSS classes for text formatting */
.option-bold {
  font-weight: bold;
}

.option-small {
  font-size: 18px; /* Adjust size as needed */
  font-style: italic;
}

@font-face {
  font-family: "Regular";
  src: local("GlacialIndifference-Regular"),
    url("./assets/fonts/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Bold";
  src: local("GlacialIndifference-Bold"),
    url("./assets/fonts/GlacialIndifference-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Light";
  src: local("Poppins-Medium"),
    url("./assets/fonts/Poppins-Light.ttf") format("truetype");
}
